./.venv
./hammurabi_py/__pycache__/
./hammurabi_py/config/__pycache__/
./hammurabi_py/api/__pycache__/
# ./hammurabi_py/config/settings.py
# ./hammurabi_py/config/urls.py
# ./hammurabi_py/api/urls.py
# ./hammurabi_py/api/views.py